<div class="flex justify-center mt-3">
  <div [hidden]="!isArticleCreated()" class="p-4 mb-4 text-sm text-green-700 bg-green-100 rounded-lg">
    <span class="font-medium">Success !</span>   Article created
  </div>
</div>




<div class="mt-5 mx-auto max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700">
  <h6 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Create Article</h6>
  <form class="w-auto mt-10" [formGroup]="createArticleForm">
    <div class="mb-6">
      <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
      <input type="text" id="name" formControlName="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Name" required>
    </div>
    <div class="mb-6">
      <label for="price" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Price</label>
      <input type="text" id="price" formControlName="price" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " placeholder="Price" required>
    </div>
    <div class="mb-6">
      <label for="picture" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Picture</label>
      <input type="text" id="picture" formControlName="picture" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " placeholder="Picture" required>
    </div>
    <div class="flex justify-center">
      <button type="button" (click)="createArticle()" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Create</button>
    </div>
  </form>

</div>
