<div class="w-80 bg-white mt-5 border border-gray-200 rounded-lg shadow-md ">
  <img class="rounded-t-lg w-80 h-60"
       [src]="article.picture"
       alt=""/>
  <div class="p-5 h-60 flex flex-col justify-around">

    <div class="mb-2 text-lg text-left font-semibold tracking-tight text-gray-900">{{article.name}}</div>

    <div class="flex justify-between mt-6">
      <span class="text-xl self-center font-bold text-gray-900">{{article.price}} Dh</span>
      <button [disabled]="articleInOngoingOrder" (click)="OnCLickOrder()" type="button" class="text-white bg-blue-600 rounded-full px-5 py-3 text-center mr-2 mb-2 focus:outline-none disabled:bg-blue-300 hover:bg-blue-800" >Order</button>

    </div>
  </div>
</div>

