<div class="w-80 bg-white mt-5 border border-gray-200 rounded-lg shadow-md ">
  <img class="rounded-t-lg w-80 h-60"
       [src]="article.picture"
       alt=""/>
  <div class="p-5 h-60 flex flex-col justify-around">

    <div class="mb-2 text-lg text-left font-semibold tracking-tight text-gray-900">{{article.name}}</div>

    <div class="flex justify-between mt-6">
      <span class="text-xl self-center font-bold text-gray-900">{{article.price}} Dh</span>
      <a
        (click)="OnCLickOrder()" class="text-white bg-blue-700 hover:cursor-pointer hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center">Order</a>
    </div>
  </div>
</div>

