<nav class="flex justify-start bg-gray-900 text-white w-screen h-16">
  <div class="px-6 py-6 flex w-full items-center">
    <a class="text-2xl text-yellow-600 font-semibold font-heading" href="#">
      App
    </a>
    <!-- Nav Links -->
    <ul class="hidden md:flex px-4 ml-40 font-semibold font-heading space-x-12 mt-1">
      <li><a class="hover:text-yellow-100 text-lg" routerLink="/articles" routerLinkActive="text-yellow-100">Articles</a></li>
      <li><a class="hover:text-yellow-100 text-lg" routerLink="/orders" routerLinkActive="text-yellow-100">Orders</a></li>
    </ul>

  </div>

</nav>
